STRIPE_SECRET_KEY = "rk_test_51TncaG058295zxTzSpyBG8oLSHKv5EezOwpPTWODh2swdCkfk2uxc4KhnPIQWShSa8eXcpWxXzQFoWy9Yd3Kne8j00j1vie98l"
STRIPE_PUBLISHABLE_KEY = "pk_test_51TncaG058295zxTz4mF56jPX7lyEK7uE4CIoQQ0Cx5Q8ZdTFWq3VzRhCiHigvwKiCzROnYuT7xqW2azzovTG0puF00Kk7B8nPH"
STRIPE_RESTRICTED_KEY = 
STRIPE_WEBHOOK_SECRET = 
STRIPE_API_VERSION = "2026-06-24.dahlia"
# Stripe
STRIPE_PRICE_BASIC_MONTHLY = "price_1Tngfb058295zxTzTe3Pg5Du"
STRIPE_PRICE_BASIC_YEARLY = "price_1TngqJ058295zxTzrzi9ti4g"
STRIPE_PRICE_PRO_MONTHLY = "price_1TngsD058295zxTz7E43NG1s"
STRIPE_PRICE_PRO_YEARLY = "price_1TngsD058295zxTzjW68aPV2"
STRIPE_PRICE_ENTERPRISE_MONTHLY= "price_1Tngvo058295zxTzx7Gfl7vI"
STRIPE_PRICE_ENTERPRISE_YEARLY= "price_1Tngvo058295zxTzLRGydj2g"
STRIPE_CUSTOMER_PORTAL_URL= "https://billing.stripe.com/p/login/test_4gMfZ976cgjq44af9b9EI00"

# Database
DATABASE_URL=sqlite:///./subscriptions.db

# Optional: API key header name (default is X-API-Key)
# API_KEY_HEADER=X-API-Key