{% extends "base.jinja2" %}

{% block content %}
    {% include "partials/login.jinja2" %}
    {% include "partials/register.jinja2" %}
    {% include "partials/forgot.jinja2" %}
    {% include "partials/reset.jinja2" %}
    {% include "partials/plan.jinja2" %}
    {% include "partials/app.jinja2" %}
{% endblock %}

{% block scripts %}
    {# Pass default text via a data attribute – no inline script #}
    <script id="config" type="module" data-default-text="{{ default_text|tojson }}"></script>
    <script type="module" src="{{ url_for('static', path='/js/app.js') }}"></script> 
{% endblock %}